body{
	margin: 0;
	padding: 0;
	background-color: #161e2a;
	background: no-repeat center center fixed;
	background-size: cover;
	
/* To replace the background, put your desired file into the img/ directory and replace ``cirno.jpg" with your picture's file name */
	background-image: url('img/cirno.jpg');
}
section{
	margin: 10vh auto;
	width: 1100px;
	height: 280px;
	background-color: #141b28;
	border: 5px solid #101521;
	text-align: center;
	padding: 5px;
}
#img{
	height: 280px;
	background-size: cover;
	background-position-y: 0;
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
	transition: 500ms filter linear;
	-webkit-transition: 500ms -webkit-filter linear;
	-moz-transition: 500ms -moz-filter linear;
	-ms-transition: 500ms -ms-filter linear;
	-o-transition: 500ms -o-filter linear;
}
#img:hover{
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}
#time{
	font: 100 8em sans-serif;
	color: #ecf0f1;
	transform: translateY(-220px);
	-ms-transform: translateY(-220px);
	-webkit-transform: translateY(-220px);
	-moz-transform: translateY(-220px);
	-o-transform: translateY(-220px);
	pointer-events: none;
	margin-right: 10px;
}
#datum{
	font: 300 1em sans-serif;
	color: #ecf0f1;
	pointer-events: none;
	transform: translateY(-440px);
	-ms-transform: translateY(-440px);
	-webkit-transform: translateY(-440px);
	-moz-transform: translateY(-440px);
	-o-transform: translateY(-440px);
	text-align: left;
	margin-left: 1em;
}
#welcome{
	font: 300 2em sans-serif;
	color: #ecf0f1;
	transform: translateY(-280px);
	-ms-transform: translateY(-280px);
	-webkit-transform: translateY(-280px);
	-moz-transform: translateY(-280px);
	-o-transform: translateY(-280px);
	pointer-events: none;
}
ul{
	height: 50px;
	width: 500px;
	display: flex;
	margin: 5vh auto;
	padding: 0;
	transform: translateY(-208px);
	-ms-transform: translateY(-208px);
	-webkit-transform: translateY(-208px);
	-moz-transform: translateY(-208px);
	-o-transform: translateY(-208px);
	background-color: #101521;
	border-radius: 6px;
}
li{
	flex: 1;
	height: 50px;
	float: left;
	list-style: none;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-ms-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
li:last-child{
	border: 0;
}
li:hover{
	background-color: #1b2836;
	border-radius: 0px;
	color: #929697;
}
a{
	color: #ecf0f1;
	padding: 17px 0 0 0;
	height: 33px;
	width: 100%;
	display: inline-block;
	text-decoration: none;
}
a:hover {
	height: 30px;
	color: #929697;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	margin: 12px auto 0 auto;
	content: '';
	display: block;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #3498db;
}
form {
	display: flex;
    margin: 15px 0px;
    transform: translateY(-220px);
	-ms-transform: translateY(-220px);
	-webkit-transform: translateY(-220px);
	-moz-transform: translateY(-220px);
	-o-transform: translateY(-220px);
}
input{
    flex-grow: 1;
    padding: 10px;
    border: 5px solid #101521;
    margin: auto 10px;
    background-color: #101521;
    color: #ecf0f1;
    width: 40px;
    
}
